<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/Juke.png">
    <title>Juke.</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <%- include('../partials/nav', { user: user }) %>
        <div id="genreHeaderDiv">
            <a href="/zoek" class="backArrow"><img src="/images/Arrow.svg"></a>
            <h1>Genres</h1>
        </div>
        <!-- <input type="text" class="search" placeholder="Zoeken..."> -->
    </header>

    <main>
        <section class="searchList">
            <div id="genresList">
                <input class="search" placeholder="Zoeken...">
                <ul class="list">
                    <% genres.forEach(genre => { %>
                    <li>
                        <div>
                            <img src="/images/<%= genre.image %>" alt="<%= genre.name %>">
                            <p class="genreName"><%= genre.name %></p>
                        </div>
                        <form>
                            <input type="hidden" name="genre" value="<%= genre.name %>">
                            <input type="submit" value="Swipe" class="swipeButton">
                        </form>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </section>
    </main>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script defer src="scripts/genreList.js"></script>
</body>

</html>