<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header id="genreHeader">
        <%- include('../partials/nav', { user: user }) %>
        <a href="/zoek" class="backArrow"><img src="/images/arrowBlack.svg"></a>
        <h1>Genres</h1>
        <input type="text" class="zoeken" placeholder="Zoeken...">
    </header>

    <main>
        <section class="searchList">
            <ul>
                <% genres.forEach(genre => { %>
                    <li>
                        <div>
                            <img src="/images/<%= genre.image %>" alt="<%= genre.name %>">
                            <p><%= genre.name %></p>
                        </div>
                        <form>
                            <input type="hidden" name="genre" value="<%= genre.name %>">
                            <input type="submit" value="Swipe" class="swipeButton">
                        </form>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>