<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="images/Juke.png">
        <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <%- include('../partials/nav', { user: user }) %>
        <h1>Profiel</h1>
    </header>

    <main>
        <section id="user">
            <img src="images/pop.jpg">
            <!-- Juke logo als pfp gebruiken? -->

            <div>
                <h3><%= user.display_name %></h3>
                <p>Bio? gaan we dit houden?</p>
            </div>
            <button>settings</button>
        </section>

        <section id="playlists">
            <a href="/liked-recommendations" class="likedLink">
                <img src="images/like.svg" alt="liked">
                <div>
                    <h4>Liked</h4>
                    <p>bekijk je gelikete nummers</p>
                </div>
                <img src="images/arrowBLack.svg" alt="go to liked">
            </a>
            <a href="/disliked-recommendations" class="dislikedLink">
                <img src="images/dislike.svg" alt="dislike">
                <div>
                    <h4>Disliked</h4>
                    <p>bekijk je gedislikete nummers</p>
                </div>
                <img src="images/arrowBLack.svg" alt="go to liked ">
            </a>
        </section>

        <section id="stats">
            <h2>Statistieken</h2>
            <div id="statsLijst">
                <div>
                    <h4><%= stats.totalSwipes %></h4>
                    <p>swipes</p>
                </div>
                <div>
                    <h4><%= stats.likes %></h4>
                    <p>geliket</p>
                </div>
                <div>
                    <h4><%= stats.dislikes %></h4>
                    <p>gedisliket</p>
                </div>
            </div>
            <h3>Jouw top genres</h3>
            <div id="statsGenre">
                <% genres.forEach(genre => { %>
                    <p><%= genre.name %></p>
                <% }) %>
            </div>
        </section>

        <section id="activiteit">
            <h2>Activiteit</h2>
            <div>
                <% DB_user.recommendations.forEach(track => { %>
                    <div class="cardProfiel">
                        <img src="<%= track.images[0].url %>">
                        <div>
                            <h4><%= track.name %></h4>
                            <p><%= track.artists.join(", ") %></p>
                            <p><%= track.action %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
</body>

</html>
