<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/Juke.png">
    <link rel="stylesheet" href="style.css">
    <title>Juke.</title>
</head>

<body>
    <header>
        <%- include('../partials/nav', { user: user }) %>

    </header>

    <main>
        <h1>Profiel</h1>
        <section id="user">
            <img src="<%= image %>">
            <!-- Juke logo als pfp gebruiken? -->
            <h3><%= user.display_name %></h3>
            <a href="/logout">Uitloggen</a>
        </section>

        <section id="playlists">
            <a href="/liked-recommendations" class="likedLink">
                <img src="images/Like.svg" alt="liked" class="blackversion">
                <div>
                    <h4>Liked</h4>
                    <p>bekijk je gelikete nummers</p>
                </div>
                <img src="images/arrow.svg" alt="go to liked" class="blackversion">
            </a>
            <a href="/disliked-recommendations" class="dislikedLink">
                <img src="images/Dislike.svg" alt="dislike" class="blackversion">
                <div>
                    <h4>Disliked</h4>
                    <p>bekijk je gedislikete nummers</p>
                </div>
                <img src="images/arrow.svg" alt="go to liked" class="blackversion">
            </a>
        </section>

        <section id="stats">
            <h2>Statistieken</h2>
            <div id="statsLijst">
                <div>
                    <h4><span class="counter" data-target="<%= stats.totalSwipes %>">0</span></h4>
                    <p>swipes</p>
                </div>
                <div>
                    <h4><span class="counter" data-target="<%= stats.likes %>">0</span></h4>
                    <p>geliket</p>
                </div>
                <div>
                    <h4><span class="counter" data-target="<%= stats.dislikes %>">0</span></h4>

                    <p>gedisliket</p>
                </div>
            </div>
            
            <h3>Jouw top genres</h3>
            <div id="statsGenre">
                <% genres.forEach(genre=> { %>
                    <p>
                        <%= genre.name %>
                    </p>
                    <% }) %>
            </div>
        </section>

        <!-- <section id="activiteit">
            <h2>Activiteit</h2>
            <div>
                <% recommendations.forEach(track=> { %>
                    <div class="cardProfiel">
                        <img src="<%= track.images[0].url %>">
                        <div>
                            <h4>
                                <%= track.name %>
                            </h4>
                            <p>
                                <%= track.artists.join(", ") %></p>
                            <p><%= track.action %> </p>
                        </div>
                        <img src=" images/Favoriet.svg" alt="favorieten icon" class="favorieten">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" id="heart">
                            <path  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                          </svg>
                          
                        </div>
                        <% }) %>
                    </div>
        </section> -->
        <section id="activiteit">
    <h2>Activiteit</h2>
    <div>
        <% recommendations.forEach(track => { %>
            <div class="cardProfiel">
                <img src="<%= track.images[0].url %>">
                <div>
                    <h4><%= track.name %></h4>
                    <p><%= track.artists.join(", ") %></p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="heart" class="<%= track.liked ? 'like' : 'unlike' %>" data-track-id="<%= track._id %>" data-track-name="<%= track.name %>" data-track-artists="<%= track.artists %>" data-track-images="<%= track.images.map(img => img.url).join(',') %>">
                    <path d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
            </div>
        <% }) %>
        
            
    </div>
</section>

    </main>
    <script defer src="scripts/app.js"></script>

</body>

</html>