<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoek</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header id="searchHeader">
        <%- include('../partials/nav', { user: user }) %>
        <h1>Zoek</h1>
        <input type="text" class="zoeken" placeholder="Zoeken...">

        <!-- Zoekformulier -->
        <!-- <form action="/search" method="get">
            <input type="text" name="q" placeholder="Search for music...">
            <button type="submit">Search</button>
        </form> -->
    </header>

    <main>
        <section class="searchList">
            <h2>Top genres</h2>
            <p>Swipe en ontdek op basis van een specifieke genre</p>
            <ul>
                <% genres.slice(0, 5).forEach(genre => { %>
                    <li>
                        <div>
                            <img src="images/<%= genre.image %>" alt="<%= genre.name %>">
                            <p><%= genre.name %></p>
                        </div>
                        <form>
                            <input type="hidden" name="genre" value="<%= genre.name %>">
                            <input type="submit" value="Swipe" class="swipeButton">
                        </form>
                    </li>
                <% }) %>
            </ul>
            </ul>
            <a href="/genres" class="moreLink">Meer weergeven</a>
        </section>
        <section class="searchList">
            <h2>Jouw topartiesten</h2>
            <p>Swipe en ontdek op basis van een specifieke artiest</p>
            <ul>
                <% artists.forEach(artist => { %>
                    <li>
                        <div>
                            <img src="images/<%= artist.image %>" alt="<%= artist.name %>">
                            <p><%= artist.name %></p>
                        </div>
                        <form>
                            <input type="hidden" name="artist" value="<%= artist.name %>">
                            <input type="submit" value="Swipe" class="swipeButton">
                        </form>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>

    <script defer src="scripts/app.js"></script>
</body>

</html>
