<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your recommendations</title>
</head>
<style>
    img {
        width: 250px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        gap: 5em;
    }
    li {
        width: 19em;
        text-align: center;
    }
</style>
<body>
    <h1>Dit zijn jouw recommendations</h1>
    <ul>
        <%# Loop through the tracks and display them %>

        <% if (tracks && tracks.length > 0) { %>
            <% tracks.forEach(track => { %>
                <li>
                    <img src="<%= track.album.images[0].url %>" alt="Album cover">
                    <h2><%= track.name %></h2>
                    <p><%= track.artists[0].name %></p>
                    
                    <%# Add a form with hidden input fields to store the necessary track information %>
                    <form>
                        <input type="hidden" name="track_id" value="<%= track.id %>" class="input" />
                        <input type="hidden" name="track_name" value="<%= track.name %>" class="input" />
                        <input type="hidden" name="track_artists" value="<%= JSON.stringify(track.artists.map(artist => artist.name)) %>" class="input" />
                        <input type="hidden" name="track_images" value="<%= JSON.stringify(track.album.images) %>" class="input" />
                        <button type="submit" name="action" value="like" class="like-button">LIKE</button>
                        <button type="submit" name="action" value="dislike" class="dislike-button">DISLIKE</button>
                    </form>
                </li>
            <% }) %>
        <% } %>
    </ul>
    <script src="app.js"></script>
</body>
</html>
