<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>

    <!-- Zoekformulier -->
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search for music..." value="<%= query %>">
        <button type="submit">Search</button>
    </form>

    <h2>Tracks</h2>
    <ul>
        <% results.tracks.items.forEach(track => { %>
            <li>
                <p><%= track.name %> by <%= track.artists.map(artist => artist.name).join(', ') %></p>
                <!-- Toevoegen van de knop met het track ID en het type -->
                <a href="/search-recommendations?seedUri=<%= track.id %>&seed_type=seed_tracks" class="recommendation-button">Get Recommendations</a>
            </li>
        <% }); %>
    </ul>

    <h2>Artists</h2>
    <ul>
        <% results.artists.items.forEach(artist => { %>
            <li>
                <p><%= artist.name %></p>
                <a href="/search-recommendations?seedUri=<%= artist.id %>&seed_type=seed_artists" class="recommendation-button">Get Recommendations</a>
            </li>
        <% }); %>
    </ul>

    <a href="/">Go back</a>
    <script src="app.js"></script>
</body>
</html>
