<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your top tracks</title>
</head>
<style>
    img {
        width: 250px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        gap: 5em;
    }
    li {
        width: 19em;
        text-align: center;
    }
</style>
<body>
    <h1>Dit zijn jouw top tracks!</h1>
    <a href="/reccomendations">Get recommendations</a>
    <ul>
        <!-- Create li's for each item inside "tracks" -->
        <% if (recommendations && recommendations.length > 0) { %>
            <% recommendations.forEach(track => { %>
                <li>
                    <img src="<%= track.album.images[0].url %>" alt="Album cover">
                    <h2><%= track.name %></h2>
                    <p><%= track.artists[0].name %></p>
                </li>
            <% }) %>
        <% } %>

        <% if (tracks && tracks.length > 0) { %>
            <% tracks.forEach(track => { %>
                <li>
                    <img src="<%= track.album.images[0].url %>" alt="Album cover">
                    <h2><%= track.name %></h2>
                    <p><%= track.artists[0].name %></p>
                    <!-- <p><%= track.id %></p> -->
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>